<div class="container-fluid p-4">

  <ng-container *ngIf="currentUser">

    <h1><strong>Welcome <a routerLink="profile">{{currentUser.username}}</a>!</strong></h1>

    <div class="border mb-2 row">
      <div class="col">

        <br/>

        <div class="p-2">

          <h3>Your courses:</h3>

          <ul class="list-group">
            <li *ngFor="let section of currentUser.sections"
                class="list-group-item">
              <div class="row">
                <div class="col-md-4">Section Title: {{section.title}}</div>
                <div class="col-md-4">
                  <a routerLink="/course/{{section.courseId}}" class="btn btn-primary">View Course</a>
                </div>
                <div class="col-md-4">
                  <button (click)="unenroll(section)" class="btn btn-danger">Unenroll</button>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </ng-container>
  <h1 *ngIf="!currentUser">Please <a routerLink="login">Login</a> or <a routerLink="register">Register</a>!</h1>

  <br>
  <hr>
  <br>

  <h1><strong>All Courses</strong></h1>

  <div class="row course-grid justify-content-center">
    <div *ngFor="let course of courses"
         class="col-lg-3 card course-grid-item">
      <h4 class="card-title course-title">{{course.title}}</h4>
      <div class="card-footer">
        <a routerLink="course/{{course.id}}" class="btn btn-secondary">View Course</a>
        <a routerLink="course/{{course.id}}/sections" class="btn btn-primary float-right">Enroll</a>
      </div>
    </div>
  </div>

</div>
