<div class="row">
  <div class="col">
    <ul class="list-group">
      <li *ngFor="let quiz of quizzes"
          class="list-group-item">
        <div class="row">
          <div class="col">
            <strong>{{quiz.title}}</strong>
          </div>
          <div class="col">
            <a class="btn btn-primary" routerLink="/quiz/{{quiz._id}}">Take Quiz</a>
          </div>
          <div class="col">
            <a class="btn btn-primary" routerLink="/quiz/{{quiz._id}}/submission">View Submissions</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
