<h2>Welcome {{currentUser.username}} !</h2>

<div>
  <h3>Update Information</h3>
  <label for="username">Username</label>
  <input [(ngModel)]="currentUser.username" id="username" placeholder="jane_doe"/>
  <br/>
  <label for="firstName">First Name</label>
  <input [(ngModel)]="currentUser.firstName" type="text" id="firstName" placeholder="Jane"/>
  <br/>
  <label for="lastName">Last Name</label>
  <input [(ngModel)]="currentUser.lastName" type="text" id="lastName" placeholder="Doe"/>
  <br/>
  <label for="address">Address</label>
  <textarea [(ngModel)]="currentUser.address" id="address" placeholder="123 E 4th St"></textarea>
  <br/>
  <label for="email">Email Address</label>
  <input [(ngModel)]="currentUser.email" type="email" id="email" placeholder="jane@doe.com"/>
  <br/>
  <label for="phone">Phone Number</label>
  <input [(ngModel)]="currentUser.phone" type="text" id="phone" placeholder="800-555-1234"/>
  <br/>
  <button (click)="updateProfile()">Update Profile</button>
</div>

<button (click)="deleteUser()">Delete Account</button>
<button (click)="logout()">Logout</button>
<a routerLink="/admin" *ngIf="currentUser.role === 'ADMIN'">Admin Page</a>
