
<h2><strong>Welcome {{currentUser.username}}!</strong></h2>

<div class="row">
  <div class="col"><button (click)="logout()" class="btn btn-warning">Logout</button></div>
  <div class="col"><button (click)="deleteUser()" class="btn btn-danger">Delete Account</button></div>
  <div class="col" *ngIf="currentUser.role === 'ADMIN'"><a routerLink="/admin" class="btn btn-primary">Admin Page</a>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-3">
    <div class="border">
      <h3><strong>Update Profile</strong></h3>
      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="currentUser.username" id="username" placeholder="jane_doe" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input [(ngModel)]="currentUser.firstName" type="text" id="firstName" placeholder="Jane" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="currentUser.lastName" type="text" id="lastName" placeholder="Doe" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea [(ngModel)]="currentUser.address" id="address" placeholder="123 E 4th St" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input [(ngModel)]="currentUser.email" type="email" id="email" placeholder="jane@doe.com" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input [(ngModel)]="currentUser.phone" type="text" id="phone" placeholder="800-555-1234" class="form-control"/>
      </div>
      <button (click)="updateProfile()" class="btn btn-primary">Update Profile</button>
    </div>

    <hr/>

    <div class="border">
      <h3><strong>Change Password</strong></h3>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input [(ngModel)]="newPassword" type="password" id="newPassword" placeholder="*******" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="newPasswordConfirm">New Password Confirm</label>
        <input [(ngModel)]="newPasswordConfirm" type="password" id="newPasswordConfirm" placeholder="*******" class="form-control"/>
      </div>
      <button (click)="changePassword()" class="btn btn-primary">Change Password</button>
    </div>
  </div>

  <div class="col-9">
    <ul *ngIf="currentUser" class="list-group">
      <li *ngFor="let section of currentUser.sections"
          class="list-group-item">
        <div class="row">
          <div class="col-md-2">Section Title: {{section.title}}</div>
          <div class="col-md-2">Max Seats: {{section.maxEnrollment}}</div>
          <div class="col-md-2">Free Seats: {{section.freeSeats}}</div>
          <div class="col-md-2">
            <a routerLink="/course/{{section.courseId}}" class="btn btn-primary">View Course</a>
          </div>
          <div class="col-md-2">
            <button (click)="unenroll(section)" class="btn btn-danger">Unenroll</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
